/** @format */

h4 {
  width: 100%;
  text-align: center;
}

.configsection {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 0.25em;
  padding: 0.25em;
}

.col-layout {
  display: inline-flex;
  align-content: baseline;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
  padding-top: 0.25em;
}

.seriesButton {
  width: 100%;
  text-align: left !important;
}

.select-editable {
  position: relative;
  background-color: white;
  border: solid grey 1px;
  width: 100%;
}
.select-editable select {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  margin: 0;
}
.select-editable input {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 1px;
  border: none;
}
.select-editable select:focus,
.select-editable input:focus {
  outline: none;
}
