<!-- @format -->

<div>
    <!-- 
        Device and Measurement selection
    -->
    <div class="configsection">
        <h4 translate>Please select one or more Devices and Measurements</h4>
        <div class="row">
            <div class="col-lg-6">
                <label for="deviceSelector" translate>Select Device</label>
                <ng-multiselect-dropdown name="deviceSelector" [placeholder]="'Select Device(s)'"
                                         [data]="devices | async" [(ngModel)]="widgetHelper.getWidgetConfig().selectedDevices" [settings]="
                        widgetHelper.getWidgetConfig().multiDropdownSettings
                    " (ngModelChange)="updateConfig()">
                </ng-multiselect-dropdown>
            </div>

            <!--
                Hide until device(s) selected to prompt a flow
             -->
            <ng-container *ngIf="
                    widgetHelper.getWidgetConfig().selectedDevices.length > 0
                ">
                <div class="col-lg-6">
                    <label for="measurementSelector" translate>Select Measurement Series</label>
                    <ng-multiselect-dropdown name="measurementSelector" [placeholder]="'Select Measurements'"
                                             [data]="supportedSeries" [(ngModel)]="
                            widgetHelper.getWidgetConfig().selectedMeasurements
                        " [settings]="
                            widgetHelper.getWidgetConfig().multiDropdownSettings
                        " (ngModelChange)="updateSelectedMeasurements()">
                    </ng-multiselect-dropdown>
                </div>
            </ng-container>
            <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
                <div class="row">

                    <div class="col-layout col-lg-2">
                        <label>Retrieve</label>
                    </div>
                    <div class="col-layout col-lg-2">
                        <input type="text" name="rangeval" [(ngModel)]="widgetHelper.getChartConfig().rangeValue"
                               (ngModelChange)="updateConfig()" />
                    </div>
                    <div class="col-layout col-lg-3">
                        <select name="rangeSelector" [(ngModel)]="widgetHelper.getChartConfig().rangeType"
                                (ngModelChange)="updateConfig()">
                            <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                    [ngValue]="i">
                                {{ rType.text }}
                            </option>
                        </select>
                    </div>
                    <div class="col-layout col-lg-2">
                        <label>(s) of Data Points</label>
                    </div>
                </div>
            </ng-container>
            <!-- 
            Once we have measurements - how many/what period does the user want
            -->
        </div>

        <!-- 
        Once there are measurements we can select a chart and set globals
        the overall chart type is fixed currently but could in the future be mixed
    -->
        <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
            <!-- 
            Chart Type & global settings
        -->
            <div class="configsection">
                <h4 translate>Global Chart Settings</h4>
                <div class="row">
                    <div class="col-layout col-lg-4">
                        <label for="chartSelector" translate>Chart Type</label>
                        <!-- 
                        TODO: will change to index so we can do easier comparisons
                        and branching in the typescript - currently a string 
                    -->
                        <select name="chartSelector" [(ngModel)]="widgetHelper.getChartConfig().type"
                                (ngModelChange)="updateConfig()">
                            <option *ngFor="
                                let chart of widgetHelper.getChartConfig()
                                    .chartTypes; index as i;
                            " [ngValue]="chart.text">
                                {{ chart.text }}
                            </option>
                        </select>
                    </div>
                    <!-- 
                    The ng-container below is for Line graphs 
                    Other types will have different options. 
                -->
                    <ng-container *ngIf="
                widgetHelper.getChartConfig().type === 'line' ||
                widgetHelper.getChartConfig().type === 'bubble' ||
                widgetHelper.getChartConfig().type === 'scatter'
                ">
                        <div class=" col-layout col-lg-2">
                            <label for="showXAxis" translate>show X Axis</label>
                            <input type="checkbox" name="showXAxis" [(ngModel)]="widgetHelper.getChartConfig().showx"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class="col-layout col-lg-2">
                            <label for="showYAxis" translate>Show Y Axis</label>
                            <input type="checkbox" name="showYAxis" [(ngModel)]="widgetHelper.getChartConfig().showy"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <!-- 
                        Need to make this work in the case of a single dataset
                    -->
                        <div class="col-layout col-lg-2">
                            <label for="showYAxis" translate>Label Axes</label>
                            <input type="checkbox" name="showYAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showAxesLabels"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class="col-layout col-lg-2">
                            <div *ngIf="widgetHelper.getChartConfig().showy">
                                <label for="beginAtZero" translate>Fit Value Axis</label>
                                <input type="checkbox" name="beginAtZero" [(ngModel)]="
                                                widgetHelper.getChartConfig().fitAxis
                                            " (ngModelChange)="updateConfig()" />
                            </div>
                        </div>
                        <ng-container *ngIf="widgetHelper.getChartConfig().type === 'line'">
                            <div class="col-layout col-lg-2">
                                <label for="fillArea" translate>Fill Area</label>
                                <input type="checkbox" name="fillArea" [(ngModel)]="widgetHelper.getChartConfig().fillArea"
                                       (ngModelChange)="updateConfig()" />
                            </div>
                        </ng-container>

                    </ng-container>

                    <!-- 
                                    The ng-container below is for Bar graphs 
                                    Other types will have different options. 
                -->
                    <ng-container
                                  *ngIf="widgetHelper.getChartConfig().type === 'bar' || widgetHelper.getChartConfig().type === 'horizontalBar'">
                        <div class="col-layout col-lg-2">
                            <label for="showXAxis" translate>show X Axis</label>
                            <input type="checkbox" name="showXAxis" [(ngModel)]="widgetHelper.getChartConfig().showx"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class="col-layout col-lg-2">
                            <label for="showYAxis" translate>Show Y Axis</label>
                            <input type="checkbox" name="showYAxis" [(ngModel)]="widgetHelper.getChartConfig().showy"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class="col-layout col-lg-2">
                            <div *ngIf="widgetHelper.getChartConfig().showy">
                                <label for="beginAtZero" translate>Fit Value Axis</label>
                                <input type="checkbox" name="beginAtZero" [(ngModel)]="
                                                                widgetHelper.getChartConfig().fitAxis
                                                            " (ngModelChange)="updateConfig()" />
                            </div>
                        </div>
                        <div class="col-layout col-lg-2">
                            <label for="stackSeries" translate>Stack Series</label>
                            <input [disabled]="widgetHelper.getWidgetConfig().selectedMeasurements
                                                            .length < 2" type="checkbox" name="stackSeries"
                                   [(ngModel)]="
                                                                widgetHelper.getChartConfig().stackSeries
                                                            " (ngModelChange)="updateConfig()" />
                        </div>
                    </ng-container>

                    <ng-container
                                  *ngIf="widgetHelper.getChartConfig().type === 'pie' || widgetHelper.getChartConfig().type === 'doughnut'">
                        <div class="col-layout col-lg-2">
                            <label for="aggSelector" translate>aggregate </label>
                        </div>
                        <div class="col-layout col-lg-4">
                            <select name="aggSelector" [(ngModel)]="widgetHelper.getChartConfig().aggregation"
                                    (ngModelChange)="updateConfig()">
                                <option *ngFor="let agg of widgetHelper.getChartConfig().aggregationType"
                                        [ngValue]="agg.id">
                                    {{ agg.text }}
                                </option>
                            </select>
                        </div>
                        <ng-container *ngIf="widgetHelper.getChartConfig().aggregation === 0">
                            <div class="col-layout col-lg-4">
                                <label for="aggfreqSelector" translate>aggregation frequency</label>
                                <select name="aggfreqSelector" [(ngModel)]="widgetHelper.getChartConfig().aggregationFreq"
                                        (ngModelChange)="updateConfig()">
                                    <option *ngFor="let freq of widgetHelper.getChartConfig().rangeUnits
                                                                                " [ngValue]="freq">
                                        {{ freq.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-layout col-lg-4">
                                <label for="dateFormat" translate>label Format</label>
                                <input style="width: 100%" type="text" [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().rangeDisplay[widgetHelper.getChartConfig().aggregationFreq.text]"
                                       (ngModelChange)="updateConfig()" />
                            </div>
                            <div class="col-layout col-lg-4">
                                <p>
                                    Example Output:
                                    {{ widgetHelper.getChartConfig().dateExample }}
                                </p>
                            </div>
                        </ng-container>
                    </ng-container>

                </div>
                <ng-container *ngIf="
                    !widgetHelper.getChartConfig().multivariateplot && 
                    widgetHelper.getChartConfig().type !== 'pie' && 
                    widgetHelper.getChartConfig().type !== 'doughnut'">
                    <div class="row">
                        <div class="col-layout col-lg-2">
                            <label for="dateFormat" translate>Date Format</label>
                        </div>
                        <div class="col-layout col-lg-6">
                            <div class="select-editable">
                                <select name="formatSelector" [(ngModel)]="widgetHelper.getChartConfig().timeFormatType" (ngModelChange)="updateConfig()">
                                    <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                            [ngValue]="i">
                                        {{ rType.format }}
                                </select>

                                <input type="text" [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().rangeDisplay[widgetHelper.getChartConfig().rangeUnits[widgetHelper.getChartConfig().timeFormatType].text]"
                                       (ngModelChange)="updateConfig()" />
                            </div>
                        </div>
                        <div class="col-layout col-lg-4">
                            <p>
                                Example Output:
                                {{ widgetHelper.getChartConfig().dateExample }}
                            </p>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-layout col-lg-4">
                        <label for="positionSelector" translate>Legend Position</label>
                        <select name="positionSelector" [(ngModel)]="widgetHelper.getChartConfig().position"
                                (ngModelChange)="updateConfig()">
                            <option *ngFor="
                                            let pos of widgetHelper.getChartConfig()
                                                .chartPositions
                                        " [ngValue]="pos.text">
                                {{ pos.text }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- 
            Individual series settings (color, line style, points etc... and other related per series options)
            -->
            <div>
                <div class="configsection">
                    <h4 translate>Series Settings</h4>
                    <div *ngIf="widgetHelper.getChartConfig().hasSeries()">
                        <ng-container *ngIf="widgetHelper.getWidgetConfig().selectedMeasurements.length > 1 &&
                        widgetHelper.getChartConfig().type == 'line' ||
                        widgetHelper.getChartConfig().type == 'radar' ||
                        widgetHelper.getChartConfig().type == 'polarArea' ||
                        widgetHelper.getChartConfig().type == 'bubble' ||
                        widgetHelper.getChartConfig().type == 'scatter' 
                    ">
                            <div class="row">
                                <div class="col-layout col-lg-6">
                                    <label translate>Plot datapoints from one series against another</label>
                                    <input [disabled]="widgetHelper
                                        .getChartConfig()
                                        .seriesKeys().length < 2 " type="checkbox"
                                           [ngModelOptions]="{ standalone: true }"
                                           [(ngModel)]="widgetHelper.getChartConfig().multivariateplot"
                                           (ngModelChange)="updateConfig()" />
                                </div>
                                <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot">
                                    <div class="col-layout col-lg-6">
                                        <input type="color" [ngModelOptions]="{ standalone: true }"
                                               [(ngModel)]="widgetHelper.getChartConfig().multivariateColor"
                                               [value]="widgetHelper.getChartConfig().multivariateColor"
                                               (ngModelChange)="updateConfig()" />
                                    </div>
                                    <div class="col-layout col-lg-6">
                                        <label translate>match datapoints within +/- </label>
                                        <input style="width: 100%" type="text" [ngModelOptions]="{ standalone: true }"
                                               [(ngModel)]="widgetHelper.getChartConfig().multivariateplotTolerence"
                                               (ngModelChange)="updateConfig()" />
                                        <label translate> seconds </label>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <!-- 
                        Each series is laid out here
                    -->
                        <ng-container *ngFor="let seriesKey of widgetHelper.getChartConfig().seriesKeys()">
                            <div class="row">
                                <div class="col-layout col-lg-1" *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                                    <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot == false">
                                        <input type="color" [ngModelOptions]="{ standalone: true }"
                                               [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].color"
                                               [value]="widgetHelper.getChartConfig().series[seriesKey].color"
                                               (ngModelChange)="updateConfig()" />
                                    </ng-container>
                                </div>
                                <div class="col-layout col-lg-3">
                                    <input size="30" type="text" [ngModelOptions]="{ standalone: true }"
                                           [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].name"
                                           (ngModelChange)="updateConfig()" />

                                </div>
                                <div class="col-layout col-lg-3" *ngIf="widgetHelper.getChartConfig().multivariateplot == true">
                                    <label translate>Variable</label>
                                    <select name="variableSelector" [ngModelOptions]="{ standalone: true }"
                                            [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].variable"
                                            (ngModelChange)="updateConfig()">
                                        <option>Not Assigned</option>
                                        <option>x</option>
                                        <option>y</option>
                                        <option>r</option>
                                    </select>
                                </div>

                                <div class="col-layout col-lg-1" *ngIf="widgetHelper.getChartConfig().multivariateplot == true">
                                    <button (click)="showSection(seriesKey)" class="btn btn-primary">
                                        <i class="fa fa-angle-double-down"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- 
                            The following is the sections for the 
                            individual series settings when clicked the button will 
                            set the selectedSeries member and this will trigger display
                        -->
                            <div [ngStyle]="{
                                display:
                                    seriesKey != getSelectedSeries()
                                        ? 'none'
                                        : 'grid'
                            }">
                                <!-- 
                                Per series settings here ?
                            -->
                                <ng-container *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                                    <div class="row">
                                        <div class="col-layout col-lg-12">
                                            <label translate>hide measurements</label>
                                            <input type="checkbox"
                                                   [ngModelOptions]="{ standalone: true }"
                                                   [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].hideMeasurements"
                                                   (ngModelChange)="updateConfig()" />
                                            <label translate>display aggregate</label>
                                            <select name="avgSelector" [ngModelOptions]="{ standalone: true }"
                                                    [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgType">
                                                <option>None</option>
                                                <option>Moving Average</option>
                                                <option>Bollinger Bands</option>
                                                <option>Moving Average + Bollinger Bands</option>
                                            </select>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="widgetHelper.getChartConfig().series[seriesKey].avgType !=='None'">
                                        <div class="row">
                                            <div class="col-layout col-lg-12">
                                                <label translate>aggregate plot colour</label>
                                                <input type="color" [ngModelOptions]="{standalone: true}"
                                                       [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                       [value]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                       (change)="updateConfig()" />
                                                <label translate>period for average</label>
                                                <input type="text"
                                                       [ngModelOptions]="{standalone: true}"
                                                       [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgPeriod"
                                                       (ngModelChange)="updateConfig()" />
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>