<!-- @format -->

<div>
    <!-- 
        Device and Measurement selection
    -->
    <div class="configsection">
        <h4 translate>Please select one or more Devices and Measurements</h4>
        <div class="row form-group">
            <div class="col-lg-6">
                <label for="deviceSelector" translate>Select Device
                    <ng-multiselect-dropdown name="deviceSelector" [placeholder]="'Select Device(s)'"
                        [data]="devices | async" [(ngModel)]="widgetHelper.getWidgetConfig().selectedDevices"
                        [settings]="
                        widgetHelper.getWidgetConfig().multiDropdownSettings
                    " (ngModelChange)="updateConfig()">
                    </ng-multiselect-dropdown>
                </label>
            </div>

            <!--
                Hide until device(s) selected to prompt a flow
             -->
            <ng-container *ngIf="
                    widgetHelper.getWidgetConfig().selectedDevices.length > 0
                ">
                <div class="col-lg-6">
                    <label for="measurementSelector" translate>Select Measurement Series
                        <ng-multiselect-dropdown name="measurementSelector" [placeholder]="'Select Measurements'"
                            [data]="supportedSeries" [(ngModel)]="
                            widgetHelper.getWidgetConfig().selectedMeasurements
                        " [settings]="
                            widgetHelper.getWidgetConfig().multiDropdownSettings
                        " (ngModelChange)="updateSelectedMeasurements()">
                        </ng-multiselect-dropdown>
                    </label>
                </div>
            </ng-container>
        </div>
        <div class="row form-group">
            <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
                <div class="col-lg-4">
                    <label translate>Amount</label>
                    <input class="form-control" type="text" name="rangeval"
                        [(ngModel)]="widgetHelper.getChartConfig().rangeValue" (ngModelChange)="updateConfig()" />
                </div>
                <div class="col-lg-4">
                    <label translate>Unit</label>
                    <select class="form-control" name="rangeSelector"
                        [(ngModel)]="widgetHelper.getChartConfig().rangeType" (ngModelChange)="updateConfig()">
                        <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                            [ngValue]="i">
                            {{ rType.text }}
                        </option>
                    </select>
                </div>
                <div class=" col-lg-4">
                    <label translate>decimal points</label>
                    <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="widgetHelper.getChartConfig().numdp" (ngModelChange)="updateConfig()" />
                </div>

            </ng-container>
            <!-- 
            Once we have measurements - how many/what period does the user want
            -->
        </div>
    </div>
    <!-- 
        Once there are measurements we can select a chart and set globals
        the overall chart type is fixed currently but could in the future be mixed
    -->
    <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
        <!-- 
            Chart Type & global settings
        -->
        <div class="configsection">
            <h4 translate>Global Chart Settings</h4>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label for="chartSelector" translate> Chart Type
                        <select class="form-control" name="chartSelector"
                            [(ngModel)]="widgetHelper.getChartConfig().type" (ngModelChange)="updateConfig()">
                            <option *ngFor="
                                let chart of widgetHelper.getChartConfig()
                                    .chartTypes; index as i;
                            " [ngValue]="chart.text">
                                {{ chart.text }}
                            </option>
                        </select>
                    </label>
                </div>
            </div>

            <!-- 
                        The ng-container below is for Line graphs 
                        Other types will have different options. 
                    -->
            <ng-container *ngIf="
                        widgetHelper.getChartConfig().type === 'line' ||
                        widgetHelper.getChartConfig().type === 'bubble' ||
                        widgetHelper.getChartConfig().type === 'scatter'
                        ">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="showXAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showXAxis"
                                [(ngModel)]="widgetHelper.getChartConfig().showx" (ngModelChange)="updateConfig()" />
                            Show X axis</label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                [(ngModel)]="widgetHelper.getChartConfig().showy" (ngModelChange)="updateConfig()" />
                            Show Y axis</label>
                    </div>
                    <!-- 
                        Need to make this work in the case of a single dataset
                    -->
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                [(ngModel)]="widgetHelper.getChartConfig().showAxesLabels"
                                (ngModelChange)="updateConfig()" /> Label axes</label>
                    </div>
                    <div *ngIf="widgetHelper.getChartConfig().showy">
                        <div class="form-check-inline col-lg-2">
                            <label class="form-check-label" for="beginAtZero2" translate>
                                <input class="form-check-input" type="checkbox" name="beginAtZero2" [(ngModel)]="
                                                widgetHelper.getChartConfig().fitAxis
                                            " (ngModelChange)="updateConfig()" /> Fit axes</label>
                        </div>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().type === 'line'">
                        <div class="form-check-inline col-lg-2">
                            <label class="form-check-label" for="fillArea" translate>
                                <input class="form-check-input" type="checkbox" name="fillArea"
                                    [(ngModel)]="widgetHelper.getChartConfig().fillArea"
                                    (ngModelChange)="updateConfig()" /> Fill Area</label>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- 
                                    The ng-container below is for Bar graphs 
                                    Other types will have different options. 
                    -->
            <ng-container
                *ngIf="widgetHelper.getChartConfig().type === 'bar' || widgetHelper.getChartConfig().type === 'horizontalBar'">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="showXAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showXAxis"
                                [(ngModel)]="widgetHelper.getChartConfig().showx" (ngModelChange)="updateConfig()" />
                            Show X axis</label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                [(ngModel)]="widgetHelper.getChartConfig().showy" (ngModelChange)="updateConfig()" />
                            Show Y axis</label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <div *ngIf="widgetHelper.getChartConfig().showy">
                            <label class="form-check-label" for="beginAtZero1" translate>
                                <input class="form-check-input" type="checkbox" name="beginAtZero1" [(ngModel)]="
                                                                widgetHelper.getChartConfig().fitAxis
                                                            " (ngModelChange)="updateConfig()" /> Fit axes</label>
                        </div>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="stackSeries" translate>
                            <input class="form-check-input"
                                [disabled]="widgetHelper.getWidgetConfig().selectedMeasurements.length < 2"
                                type="checkbox" name="stackSeries"
                                [(ngModel)]="widgetHelper.getChartConfig().stackSeries"
                                (ngModelChange)="updateConfig()" /> Stack series</label>
                    </div>
                </div>
            </ng-container>

            <ng-container
                *ngIf="widgetHelper.getChartConfig().type === 'pie' || widgetHelper.getChartConfig().type === 'doughnut'">
                <div class="row form-group">
                    <div class="  col-lg-6">
                        <label for="aggSelector" translate>Aggregate</label>
                        <select class="form-control" name="aggSelector"
                            [(ngModel)]="widgetHelper.getChartConfig().aggregation" (ngModelChange)="updateConfig()">
                            <option *ngFor="let agg of widgetHelper.getChartConfig().aggregationType"
                                [ngValue]="agg.id">
                                {{ agg.text }}
                            </option>
                        </select>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().aggregation === 0 else aggvalues">
                        <div class="  col-lg-6">
                            <label for="aggfreqSelector" translate>aggregation frequency</label>
                            <select class="form-control" name="aggfreqSelector"
                                [(ngModel)]="widgetHelper.getChartConfig().aggTimeFormatType"
                                (ngModelChange)="updateConfig()">
                                <option *ngFor="let freq of widgetHelper.getChartConfig().rangeUnits; index as i"
                                    [ngValue]="i">
                                    {{ freq.text }}
                                </option>
                            </select>
                        </div>

                        <div class=" col-lg-2">
                            <label class="form-check-label" for="customFormat" translate>
                                <input class="form-check-input" type="checkbox" name="customFormat"
                                    [(ngModel)]="widgetHelper.getChartConfig().customFormat"
                                    (ngModelChange)="updateConfig()" /> Use Custom Format</label>
                        </div>
                        <ng-container *ngIf="widgetHelper.getChartConfig().customFormat !== true else selectFormat">
                            <div class=" col-lg-4">
                                <label translate>label Format
                                    <select class="form-control" name="formatSelector"
                                        [(ngModel)]="widgetHelper.getChartConfig().aggTimeFormatType"
                                        (ngModelChange)="updateConfig()">
                                        <option
                                            *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                            [ngValue]="i">
                                            {{ rType.format }}
                                    </select>
                                </label>
                            </div>
                        </ng-container>

                        <ng-template #selectFormat>
                            <div class=" col-lg-4">
                                <label translate>Custom Format</label>
                                <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().customFormatString"
                                    (ngModelChange)="updateConfig()" />
                            </div>
                        </ng-template>
                        <!-- CUSTOM FORMAT -->
                        <div class="col-lg-4">
                            <label translate>Example Output:</label>
                            <p>
                                {{ widgetHelper.getChartConfig().dateExample }}
                            </p>
                        </div>
                    </ng-container>
                    <ng-template #aggvalues>
                        <div class=" col-lg-4">
                            <label translate>Number of Value Buckets</label>
                            <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="widgetHelper.getChartConfig().numBuckets"
                                (ngModelChange)="updateConfig()" />
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <ng-container *ngIf="
                    !widgetHelper.getChartConfig().multivariateplot && 
                    widgetHelper.getChartConfig().type !== 'pie' && 
                    widgetHelper.getChartConfig().type !== 'doughnut'">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="form-check-label" for="customFormat" translate>
                            <input class="form-check-input" type="checkbox" name="customFormat"
                                [(ngModel)]="widgetHelper.getChartConfig().customFormat"
                                (ngModelChange)="updateConfig()" />
                            Use Custom Format</label>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().customFormat !== true else selectFormat">
                        <div class=" col-lg-2">
                            <label translate>Date Format
                                <select class="form-control" name="formatSelector"
                                    [(ngModel)]="widgetHelper.getChartConfig().timeFormatType"
                                    (ngModelChange)="updateConfig()">
                                    <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                        [ngValue]="i">
                                        {{ rType.format }}
                                </select>
                            </label>
                        </div>
                    </ng-container>
                    <ng-template #selectFormat>
                        <div class=" col-lg-4">
                            <label translate>Custom Format</label>
                            <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="widgetHelper.getChartConfig().customFormatString"
                                (ngModelChange)="updateConfig()" />
                        </div>
                    </ng-template>
                    <div class="col-lg-4">
                        <label translate>Example Output:</label>
                        <p>
                            {{ widgetHelper.getChartConfig().dateExample }}
                        </p>
                    </div>
                </div>
            </ng-container>
            <div class="row form-group">
                <ng-container *ngIf="
                widgetHelper.getChartConfig().type !== 'pie' && 
                widgetHelper.getChartConfig().type !== 'doughnut'">
                    <div class="col-lg-2">
                        <label translate>Point size</label>
                        <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="widgetHelper.getChartConfig().showPoints" (ngModelChange)="updateConfig()" />
                    </div>
                </ng-container>
                <div class="col-lg-9">
                    <label for="positionSelector" translate> Legend Position </label>
                    <select class="form-control" name="positionSelector"
                        [(ngModel)]="widgetHelper.getChartConfig().position" (ngModelChange)="updateConfig()">
                        <option *ngFor="let pos of widgetHelper.getChartConfig().chartPositions" [ngValue]="pos.text">
                            {{ pos.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- 
            Individual series settings (color, line style, points etc... and other related per series options)
            -->

        <div class="configsection">
            <h4 translate>Series Settings</h4>
            <div *ngIf="widgetHelper.getChartConfig().hasSeries()">
                <ng-container *ngIf="widgetHelper.getWidgetConfig().selectedMeasurements.length > 1 &&
                        widgetHelper.getChartConfig().type == 'line' ||
                        widgetHelper.getChartConfig().type == 'radar' ||
                        widgetHelper.getChartConfig().type == 'polarArea' ||
                        widgetHelper.getChartConfig().type == 'bubble' ||
                        widgetHelper.getChartConfig().type == 'scatter' 
                    ">
                    <div class="row form-group">
                        <div class="form-check-inline  col-lg-6">
                            <label class=" form-check-label" translate>
                                <input class="form-check-input" [disabled]="widgetHelper
                                        .getChartConfig()
                                        .seriesKeys().length < 2 " type="checkbox"
                                    [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().multivariateplot"
                                    (ngModelChange)="updateConfig()" /> Plot data points from one series against another
                            </label>
                        </div>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot">
                        <div class="row form-group">
                            <div class=" col-lg-1">
                                <input class="form-control" type="color" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().multivariateColor"
                                    [value]="widgetHelper.getChartConfig().multivariateColor"
                                    (ngModelChange)="updateConfig()" />
                            </div>
                            <div class=" col-lg-2">
                                <label translate>match datapoints within +/- </label>
                            </div>
                            <div class=" col-lg-2">
                                <input class="form-control" style="width: 100%" type="text"
                                    [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().multivariateplotTolerance"
                                    (ngModelChange)="updateConfig()" />
                            </div>
                            <div class=" col-lg-1">
                                <label translate> seconds</label>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- 
                        Each series is laid out here
                    -->
                <ng-container *ngFor="let seriesKey of widgetHelper.getChartConfig().seriesKeys()">
                    <div class="row form-group">
                        <div class=" col-lg-1" *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                            <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot == false">
                                <input class="form-control" type="color" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].color"
                                    [value]="widgetHelper.getChartConfig().series[seriesKey].color"
                                    (ngModelChange)="updateConfig()" />
                            </ng-container>
                        </div>
                        <div class=" col-lg-3">
                            <input class="form-control" size="30" type="text" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].name"
                                (ngModelChange)="updateConfig()" />

                        </div>
                        <div class=" col-lg-3" *ngIf="widgetHelper.getChartConfig().multivariateplot == true">
                            <select class="form-control" name="variableSelector" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].variable"
                                (ngModelChange)="updateConfig()">
                                <option>Assign variable</option>
                                <option>x</option>
                                <option>y</option>
                                <option>r</option>
                            </select>
                        </div>

                        <div class=" col-lg-1" *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                            <button (click)="showSection(seriesKey)" class="btn btn-primary">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- 
                            The following is the sections for the 
                            individual series settings when clicked the button will 
                            set the selectedSeries member and this will trigger display
                        -->
                    <div [ngStyle]="{
                                display:
                                    seriesKey != getSelectedSeries()
                                        ? 'none'
                                        : 'grid'
                            }">
                        <!-- 
                                Per series settings here ?
                            -->
                        <ng-container *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                            <div class="row form-group">
                                <div class="form-check-inline col-lg-12">
                                    <label class="form-check-label" translate>
                                        <input class="form-check-input" type="checkbox"
                                            [ngModelOptions]="{ standalone: true }"
                                            [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].hideMeasurements"
                                            (ngModelChange)="updateConfig()" /> Hide measurements</label>
                                    <label translate>display aggregate
                                        <select class="form-control" name="avgSelector"
                                            [ngModelOptions]="{ standalone: true }"
                                            [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgType">
                                            <option>None</option>
                                            <option>Moving Average</option>
                                            <option>Bollinger Bands</option>
                                            <option>Moving Average + Bollinger Bands</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <ng-container *ngIf="widgetHelper.getChartConfig().series[seriesKey].avgType !=='None'">
                                <div class="row form-group">
                                    <div class=" col-lg-12">
                                        <label translate>aggregate plot colour
                                            <input class="form-control" type="color"
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                [value]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                (change)="updateConfig()" /></label>
                                        <label translate>period for average
                                            <input class="form-control" type="text"
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgPeriod"
                                                (ngModelChange)="updateConfig()" /></label>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

        </div>
    </ng-container>
</div>