<div class="chart-container" *ngIf="verifyConfig() else error">
    <!-- <div style="display: block; width: 500px; height: 400px;"> -->
    <!-- <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" -->
    <ng-container *ngIf="chartData && chartData.length > 0">
        <ng-container *ngIf="
            widgetHelper.getChartConfig().getChartType() == 'pie' || 
            widgetHelper.getChartConfig().getChartType() == 'radar' || 
            widgetHelper.getChartConfig().getChartType() == 'doughnut' else normal">
            <canvas #graph baseChart [datasets]="chartData" [options]="chartOptions"
                    [chartType]="widgetHelper.getChartConfig().getChartType()" [labels]="chartLabels"
                    [legend]="chartLegend">
            </canvas>
        </ng-container>
        <ng-template #normal>
            <canvas #graph baseChart [datasets]="chartData" [options]="chartOptions"
                    [chartType]="widgetHelper.getChartConfig().getChartType()">
            </canvas>
        </ng-template>
    </ng-container>
</div>
<ng-template #error>
    <div class="chart-container">
        <i class="fa fa-exclamation-circle fa-5x primary"></i>
        <h4>{{widgetHelper.getChartConfig().message}}</h4>
    </div>
</ng-template>