<!-- @format -->

<div>
    <!-- 
        Device and Measurement selection
    -->
    <div class="configSection">
        <h4 translate>Please select one or more Devices and Measurements</h4>
        <div class="row form-group">
            <div class="col-lg-6">
                <label class="label-with-help" for="deviceSelector" class="label-with-help" translate>Select device
                    <span class="help-icon">
                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                             alt="help tooltip"
                             title="Select one or more devices for the chart.">
                    </span>
                    <ng-multiselect-dropdown name="deviceSelector" [placeholder]="'Select Device(s)'"
                                             [data]="devices | async"
                                             [(ngModel)]="widgetHelper.getWidgetConfig().selectedDevices"
                                             [settings]="
                        widgetHelper.getWidgetConfig().multiDropdownSettings
                    " (ngModelChange)="updateConfig()">
                    </ng-multiselect-dropdown>
                </label>
            </div>

            <!--
                Hide until device(s) selected to prompt a flow
             -->
            <ng-container *ngIf="
                    widgetHelper.getWidgetConfig().selectedDevices.length > 0
                ">
                <div class="col-lg-6">
                    <label class="label-with-help" for="measurementSelector" class="label-with-help" translate>Select
                        series and fragment(s)
                        <span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                 alt="help tooltip"
                                 title="Select one or more data fragments for the chart.">
                        </span>
                        <ng-multiselect-dropdown name="measurementSelector" [placeholder]="'Select Measurements'"
                                                 [data]="supportedSeries" [(ngModel)]="
                            widgetHelper.getWidgetConfig().selectedMeasurements
                        " [settings]="
                            widgetHelper.getWidgetConfig().multiDropdownSettings
                        " (ngModelChange)="updateSelectedMeasurements()">
                        </ng-multiselect-dropdown>
                    </label>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
            <div class="row form-group">
                <div class="col-lg-4">
                    <label class="label-with-help" translate>Volume of data points</label>
                    <span class="help-icon">
                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                             alt="help tooltip"
                             title="Choose how much data to show.">
                    </span>
                    <input class="form-control" type="text" name="rangeval"
                           [(ngModel)]="widgetHelper.getChartConfig().rangeValue" (ngModelChange)="updateConfig()" />
                </div>
                <div class="col-lg-4">
                    <label class="label-with-help" translate>Unit</label>
                    <span class="help-icon">
                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                             alt="help tooltip"
                             title="Select the unit of the data point volume.">
                    </span>
                    <select class="form-control" name="rangeSelector"
                            [(ngModel)]="widgetHelper.getChartConfig().rangeType" (ngModelChange)="updateConfig()">
                        <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                [ngValue]="i">
                            {{ rType.text }}
                        </option>
                    </select>
                </div>
                <div class=" col-lg-4">
                    <label class="label-with-help" translate>Precision</label>
                    <span class="help-icon">
                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                             alt="help tooltip"
                             title="How many decimal places to show in labels, tooltips etc.">
                    </span>
                    <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                           [(ngModel)]="widgetHelper.getChartConfig().numdp" (ngModelChange)="updateConfig()" />
                </div>
            </div>
            <div class="row form-group">
                <div class="form-check-inline col-lg-2">
                    <label class="label-with-help" class="form-check-label" for="groupby" translate>
                        <input
                               [disabled]="widgetHelper.getChartConfig().multivariateplot && widgetHelper.getChartConfig().getChartType() !== 'radar'"
                               class="form-check-input" type="checkbox" name="groupby"
                               [(ngModel)]="widgetHelper.getChartConfig().groupby" (ngModelChange)="updateConfig()" />
                        Group measurements<span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                 alt="help tooltip"
                                 title="Average or accumulate measurement values for the unit of the range (E.G minute, hour, etc...)">
                        </span>
                    </label>
                </div>
                <div class="form-check-inline col-lg-2">
                    <label class="label-with-help" class="form-check-label" for="cumulative" translate>
                        <input [disabled]="!widgetHelper.getChartConfig().groupby"
                               class="form-check-input" type="checkbox" name="cumulative"
                               [(ngModel)]="widgetHelper.getChartConfig().cumulative"
                               (ngModelChange)="updateConfig()" />
                        Cumulative<span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                 alt="help tooltip"
                                 title="check to accumulate values rather than average.">
                        </span>
                    </label>
                </div>
            </div>
        </ng-container>
        <!-- 
            Once we have measurements - how many/what period does the user want
            -->
    </div>
    <!-- 
        Once there are measurements we can select a chart and set globals
        the overall chart type is fixed currently but could in the future be mixed
    -->
    <ng-container *ngIf="
            widgetHelper.getWidgetConfig().selectedDevices.length > 0 &&
            widgetHelper.getWidgetConfig().selectedMeasurements.length > 0
        ">
        <!-- 
            Chart Type & global settings
        -->
        <div class="configSection">
            <h4 translate>Global Chart Settings</h4>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label class="label-with-help" for="chartSelector" translate> Chart type
                        <span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                 alt="help tooltip"
                                 title="The type of chart to plot.">
                        </span>
                        <select class="form-control" name="chartSelector"
                                [(ngModel)]="widgetHelper.getChartConfig().type"
                                (ngModelChange)="updateConfig()">
                            <option *ngFor="
                                let chart of widgetHelper.getChartConfig()
                                    .getChartTypes(); index as i;
                            " [ngValue]="chart.text">
                                {{ chart.text }}
                            </option>
                        </select>
                    </label>
                </div>
            </div>

            <!-- 
                        The ng-container below is for Line graphs 
                        Other types will have different options. 
                    -->
            <ng-container *ngIf="
                        widgetHelper.getChartConfig().getChartType() === 'line' ||
                        widgetHelper.getChartConfig().getChartType() === 'bubble' ||
                        widgetHelper.getChartConfig().getChartType() === 'scatter'
                        ">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="showXAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showXAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showx" (ngModelChange)="updateConfig()" />
                            Show X axis<span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the x axis.">
                            </span>
                        </label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showy" (ngModelChange)="updateConfig()" />
                            Show Y axis<span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the y axis.">
                            </span>
                        </label>
                    </div>
                    <!-- 
                        Need to make this work in the case of a single dataset
                    -->
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showAxesLabels"
                                   (ngModelChange)="updateConfig()" /> Label axes<span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the x & y axis labels.">
                            </span>
                        </label>
                    </div>
                    <div *ngIf="widgetHelper.getChartConfig().showy">
                        <div class="form-check-inline col-lg-2">
                            <label class="label-with-help" class="form-check-label" for="beginAtZero2" translate>
                                <input class="form-check-input"
                                       type="checkbox" name="beginAtZero2"
                                       [(ngModel)]="widgetHelper.getChartConfig().fitAxis"
                                       (ngModelChange)="updateConfig()" /> Fit axes<span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Fit the range of the chart axes to the data.">
                                </span>
                            </label>
                        </div>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().getChartType() === 'line'">
                        <div class="form-check-inline col-lg-2">
                            <label class="label-with-help" class="form-check-label" for="fillArea" translate>
                                <input class="form-check-input" type="checkbox" name="fillArea"
                                       [(ngModel)]="widgetHelper.getChartConfig().fillArea"
                                       (ngModelChange)="updateConfig()" /> Fill area<span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Fill the area under the line with the color of the series.">
                                </span>
                            </label>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- 
                                    The ng-container below is for Bar graphs 
                                    Other types will have different options. 
                    -->
            <ng-container
                          *ngIf="widgetHelper.getChartConfig().getChartType() === 'bar' || widgetHelper.getChartConfig().getChartType() === 'horizontalBar'">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="showXAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showXAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showx" (ngModelChange)="updateConfig()" />
                            Show X axis<span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the x axis.">
                            </span>
                        </label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="showYAxis" translate>
                            <input class="form-check-input" type="checkbox" name="showYAxis"
                                   [(ngModel)]="widgetHelper.getChartConfig().showy" (ngModelChange)="updateConfig()" />
                            Show Y axis<span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the y axis.">
                            </span>
                        </label>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <div *ngIf="widgetHelper.getChartConfig().showy">
                            <label class="label-with-help" class="form-check-label" for="beginAtZero1" translate>
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="beginAtZero1"
                                       [(ngModel)]="widgetHelper.getChartConfig().fitAxis"
                                       (ngModelChange)="updateConfig()" /> Fit axes
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Fit the range of the chart axes to the data.">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="stackSeries" translate>
                            <input class="form-check-input"
                                   [disabled]="widgetHelper.getWidgetConfig().selectedMeasurements.length < 2"
                                   type="checkbox" name="stackSeries"
                                   [(ngModel)]="widgetHelper.getChartConfig().stackSeries"
                                   (ngModelChange)="updateConfig()" /> Stack series
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Stack series on the bar chart.">
                            </span>
                        </label>
                    </div>
                </div>
            </ng-container>

            <ng-container
                          *ngIf="widgetHelper.getChartConfig().getChartType() === 'pie' || widgetHelper.getChartConfig().getChartType() === 'doughnut'">
                <div class="row form-group">
                    <div class="  col-lg-6">
                        <label class="label-with-help" for="aggSelector" translate>Aggregate
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Show the counts of data by time, or by value.">
                            </span>
                        </label>
                        <select class="form-control" name="aggSelector"
                                [(ngModel)]="widgetHelper.getChartConfig().aggregation"
                                (ngModelChange)="updateConfig()">
                            <option *ngFor="let agg of widgetHelper.getChartConfig().aggregationType"
                                    [ngValue]="agg.id">
                                {{ agg.text }}
                            </option>
                        </select>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().aggregation === 0 else aggvalues">
                        <div class="  col-lg-6">
                            <label class="label-with-help" for="aggfreqSelector" translate>Aggregation frequency
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Choose the time period to bucket the data into.">
                                </span>
                            </label>
                            <select class="form-control" name="aggfreqSelector"
                                    [(ngModel)]="widgetHelper.getChartConfig().aggTimeFormatType"
                                    (ngModelChange)="updateConfig()">
                                <option *ngFor="let freq of widgetHelper.getChartConfig().rangeUnits; index as i"
                                        [ngValue]="i">
                                    {{ freq.text }}
                                </option>
                            </select>
                        </div>

                        <div class=" col-lg-2">
                            <label class="label-with-help" class="form-check-label" for="customFormat" translate>
                                <input class="form-check-input" type="checkbox" name="customFormat"
                                       [(ngModel)]="widgetHelper.getChartConfig().customFormat"
                                       (ngModelChange)="updateConfig()" /> Use custom format
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Specify a custom date format for the chart">
                                </span>
                            </label>
                        </div>
                        <ng-container *ngIf="widgetHelper.getChartConfig().customFormat !== true else selectFormat">
                            <div class=" col-lg-4">
                                <label class="label-with-help" translate>Date format
                                    <span class="help-icon">
                                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                                             alt="help tooltip"
                                             title="Choose a date format for the chart.">
                                    </span>

                                    <select class="form-control" name="formatSelector"
                                            [(ngModel)]="widgetHelper.getChartConfig().aggTimeFormatType"
                                            (ngModelChange)="updateConfig()">
                                        <option
                                                *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                                [ngValue]="i">
                                            {{ rType.format }}
                                    </select>
                                </label>
                            </div>
                        </ng-container>

                        <ng-template #selectFormat>
                            <div class=" col-lg-4">
                                <label class="label-with-help" translate>Custom format
                                    <span class="help-icon">
                                        <img src="{{CONST_HELP_IMAGE_FILE}}"
                                             alt="help tooltip"
                                             title="Define the custom date format for the chart. See the Moment.js docs for examples https://momentjs.com/docs/#/displaying/format/">
                                    </span>
                                </label>
                                <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().customFormatString"
                                       (ngModelChange)="updateConfig()" />
                            </div>
                        </ng-template>
                        <!-- CUSTOM FORMAT -->
                        <div class="col-lg-4">
                            <label translate>Example output:</label>
                            <p>
                                {{ widgetHelper.getChartConfig().dateExample }}
                            </p>
                        </div>
                    </ng-container>
                    <ng-template #aggvalues>
                        <div class=" col-lg-3">
                            <label class="label-with-help" translate>Value from
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="start of value range">
                                </span>
                            </label>
                            <input class="form-control" type="number" [ngModelOptions]="{ standalone: true }"
                                   [(ngModel)]="widgetHelper.getChartConfig().minBucket"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class=" col-lg-3">
                            <label class="label-with-help" translate>Value to
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="End of the value range">
                                </span>
                            </label>
                            <input class="form-control" type="number" [ngModelOptions]="{ standalone: true }"
                                   [(ngModel)]="widgetHelper.getChartConfig().maxBucket"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                        <div class=" col-lg-3">
                            <label class="label-with-help" translate>Slice Size
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="split the range into equal pieces (plus catch all buckets above and below range).">
                                </span>
                            </label>
                            <input class="form-control" type="number" [ngModelOptions]="{ standalone: true }"
                                   [(ngModel)]="widgetHelper.getChartConfig().sizeBuckets"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <ng-container *ngIf="
                    !widgetHelper.getChartConfig().multivariateplot && 
                    widgetHelper.getChartConfig().getChartType() !== 'pie' && 
                    widgetHelper.getChartConfig().getChartType() !== 'doughnut'">
                <div class="row form-group">
                    <div class="form-check-inline col-lg-2">
                        <label class="label-with-help" class="form-check-label" for="customFormat" translate>
                            <input class="form-check-input" type="checkbox" name="customFormat"
                                   [(ngModel)]="widgetHelper.getChartConfig().customFormat"
                                   (ngModelChange)="updateConfig()" />
                            Use custom format
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Check to use a custom date format for the chart.">
                            </span>
                        </label>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().customFormat !== true else selectFormat">
                        <div class=" col-lg-2">
                            <label class="label-with-help" translate>Date format
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Choose the date format for the chart">
                                </span>

                                <select class="form-control" name="formatSelector"
                                        [(ngModel)]="widgetHelper.getChartConfig().timeFormatType"
                                        (ngModelChange)="updateConfig()">
                                    <option *ngFor="let rType of widgetHelper.getChartConfig().rangeUnits; index as i;"
                                            [ngValue]="i">
                                        {{ rType.format }}
                                </select>
                            </label>
                        </div>
                    </ng-container>
                    <ng-template #selectFormat>
                        <div class=" col-lg-4">
                            <label class="label-with-help" translate>Custom format
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="Define the custom date format for the chart. See the Moment.js docs for examples https://momentjs.com/docs/#/displaying/format/">
                                </span>
                            </label>
                            <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                   [(ngModel)]="widgetHelper.getChartConfig().customFormatString"
                                   (ngModelChange)="updateConfig()" />
                        </div>
                    </ng-template>
                    <div class="col-lg-4">
                        <label translate>Example output:</label>
                        <p>
                            {{ widgetHelper.getChartConfig().dateExample }}
                        </p>
                    </div>
                </div>
            </ng-container>
            <div class="row form-group">
                <ng-container *ngIf="
                widgetHelper.getChartConfig().getChartType() !== 'pie' && 
                widgetHelper.getChartConfig().getChartType() !== 'doughnut'">
                    <div class="col-lg-2">
                        <label class="label-with-help" translate>Point size
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                     alt="help tooltip"
                                     title="Enter a size for the chart points, N.B. '0' indicates no point shown">
                            </span>
                        </label>
                        <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                               [(ngModel)]="widgetHelper.getChartConfig().showPoints"
                               (ngModelChange)="updateConfig()" />
                    </div>
                </ng-container>
                <div class="col-lg-9">
                    <label class="label-with-help" for="positionSelector" translate> Legend position
                        <span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                 alt="help tooltip"
                                 title="Choose whether to show a legend and where to position it on the chart.">
                        </span>
                    </label>
                    <select class="form-control" name="positionSelector"
                            [(ngModel)]="widgetHelper.getChartConfig().position" (ngModelChange)="updateConfig()">
                        <option *ngFor="let pos of widgetHelper.getChartConfig().chartPositions" [ngValue]="pos.text">
                            {{ pos.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- 
            Individual series settings (color, line style, points etc... and other related per series options)
            -->

        <div class="configSection">
            <h4 translate>Series settings</h4>
            <div *ngIf="widgetHelper.getChartConfig().hasSeries()">
                <ng-container *ngIf="widgetHelper.getWidgetConfig().selectedMeasurements.length > 1 &&
                        widgetHelper.getChartConfig().getChartType() == 'line' ||
                        widgetHelper.getChartConfig().getChartType() == 'radar' ||
                        widgetHelper.getChartConfig().getChartType() == 'polarArea' ||
                        widgetHelper.getChartConfig().getChartType() == 'bubble' ||
                        widgetHelper.getChartConfig().getChartType() == 'scatter' 
                    ">
                    <div class="row form-group">
                        <div class="form-check-inline  col-lg-6">
                            <label class="label-with-help" class=" form-check-label" translate>
                                <input class="form-check-input"
                                       [disabled]="widgetHelper.getChartConfig().seriesKeys().length < 2 || 
                                       this.widgetHelper.getChartConfig().getChartType() === 'bar' || 
                                       this.widgetHelper.getChartConfig().getChartType() === 'horizontalBar' || 
                                       this.widgetHelper.getChartConfig().getChartType() === 'pie' || 
                                       this.widgetHelper.getChartConfig().getChartType() === 'doughnut' "
                                       type="checkbox"
                                       [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().multivariateplot"
                                       (ngModelChange)="updateConfig()" /> Plot data points from one series against
                                another
                                <span class="help-icon">
                                    <img src="{{CONST_HELP_IMAGE_FILE}}"
                                         alt="help tooltip"
                                         title="if your data contains a series which depends on another you can plot them on the same graph using this option.">
                                </span>

                            </label>
                        </div>
                    </div>
                    <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot">
                        <div class="row form-group">
                            <div class=" col-lg-1">
                                <input class="form-control" type="color" [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().multivariateColor"
                                       [value]="widgetHelper.getChartConfig().multivariateColor"
                                       (ngModelChange)="updateConfig()" />
                            </div>
                            <ng-container *ngIf="widgetHelper.getChartConfig().realtime == 'timer'">
                                <div class=" col-lg-2">
                                    <label translate>Update chart every</label>
                                </div>
                                <div class=" col-lg-2">
                                    <input class="form-control" style="width: 100%" type="text"
                                           [ngModelOptions]="{ standalone: true }"
                                           [(ngModel)]="widgetHelper.getChartConfig().timerDelay"
                                           (ngModelChange)="updateConfig()" />
                                </div>
                                <div class=" col-lg-1">
                                    <label class="label-with-help" translate> seconds</label>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- 
                        Each series is laid out here
                    -->
                <ng-container *ngFor="let seriesKey of widgetHelper.getChartConfig().seriesKeys()">
                    <div class="row form-group">
                        <div class=" col-lg-1" *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                            <ng-container *ngIf="widgetHelper.getChartConfig().multivariateplot == false">
                                <input class="form-control" type="color" [ngModelOptions]="{ standalone: true }"
                                       [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].color"
                                       [value]="widgetHelper.getChartConfig().series[seriesKey].color"
                                       (ngModelChange)="updateConfig()" />
                            </ng-container>
                        </div>
                        <div class=" col-lg-3">
                            <input class="form-control" size="30" type="text" [ngModelOptions]="{ standalone: true }"
                                   [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].name"
                                   (ngModelChange)="updateConfig()" />

                        </div>
                        <div class=" col-lg-3" *ngIf="widgetHelper.getChartConfig().multivariateplot == true">
                            <select class="form-control" name="variableSelector" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].variable"
                                    (ngModelChange)="updateConfig()">
                                <option>Assign variable</option>
                                <option>x</option>
                                <option>y</option>
                                <option *ngIf="this.widgetHelper.getChartConfig().getChartType() === 'bubble'">r
                                </option>
                            </select>
                        </div>

                        <div class=" col-lg-1" *ngIf="!widgetHelper.getChartConfig().multivariateplot == true && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'bar' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'horizontalBar' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'scatter' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'bubble' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'pie' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'radar' && 
                                       this.widgetHelper.getChartConfig().getChartType() !== 'doughnut' ">
                            <button (click)="showSection(seriesKey)" class="btn btn-primary">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- 
                            The following is the sections for the 
                            individual series settings when clicked the button will 
                            set the selectedSeries member and this will trigger display
                        -->
                    <div [ngStyle]="{
                                display:
                                    seriesKey != getSelectedSeries()
                                        ? 'none'
                                        : 'grid'
                            }">
                        <!-- 
                                Per series settings here ?
                            -->
                        <ng-container *ngIf="!widgetHelper.getChartConfig().multivariateplot == true">
                            <div class="row form-group">
                                <div class="form-check-inline col-lg-12">
                                    <label class="label-with-help" class="form-check-label" translate>
                                        <input class="form-check-input" type="checkbox"
                                               [ngModelOptions]="{ standalone: true }"
                                               [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].hideMeasurements"
                                               (ngModelChange)="updateConfig()" /> Hide measurements
                                        <span class="help-icon">
                                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                                 alt="help tooltip"
                                                 title="If you check this option it will hide the data points selected, this can be used when you only wish to show an aggregate.">
                                        </span>

                                    </label>
                                    <label class="label-with-help" translate>Display aggregate
                                        <span class="help-icon">
                                            <img src="{{CONST_HELP_IMAGE_FILE}}"
                                                 alt="help tooltip"
                                                 title="Add moving average and/or bollinger bands to your chart">
                                        </span>

                                        <select class="form-control" name="avgSelector"
                                                [ngModelOptions]="{ standalone: true }"
                                                [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgType">
                                            <option>None</option>
                                            <option>Moving Average</option>
                                            <option>Bollinger Bands</option>
                                            <option>Moving Average + Bollinger Bands</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <ng-container *ngIf="widgetHelper.getChartConfig().series[seriesKey].avgType !=='None'">
                                <div class="row form-group">
                                    <div class=" col-lg-12">
                                        <label class="label-with-help" translate>Colour
                                            <input class="form-control" type="color"
                                                   [ngModelOptions]="{standalone: true}"
                                                   [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                   [value]="widgetHelper.getChartConfig().series[seriesKey].avgColor"
                                                   (change)="updateConfig()" /></label>
                                        <label class="label-with-help" translate>Aggregate period
                                            <span class="help-icon">
                                                <img src="{{CONST_HELP_IMAGE_FILE}}"
                                                     alt="help tooltip"
                                                     title="Define the number of measurements to be used for the moving average and/or Bollinger bands.">
                                            </span>

                                            <input class="form-control" type="text"
                                                   [ngModelOptions]="{standalone: true}"
                                                   [(ngModel)]="widgetHelper.getChartConfig().series[seriesKey].avgPeriod"
                                                   (ngModelChange)="updateConfig()" /></label>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

        </div>
    </ng-container>
</div>