<div class="chart-container" *ngIf="verifyConfig() else message">
    <!-- <div style="display: block; width: 500px; height: 400px;"> -->
    <!-- <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" -->
    <ng-container *ngIf="chartData && chartData.length > 0 else waiting">
        <ng-container *ngIf="widgetHelper.getWidgetConfig().chart.type == 'pie' else normal">
            <canvas #graph baseChart [datasets]="chartData" [options]="chartOptions"
                [chartType]="widgetHelper.getWidgetConfig().chart.type" [labels]="chartLabels" [legend]="chartLegend">
            </canvas>
        </ng-container>
        <ng-template #normal>
            <canvas #graph baseChart [datasets]="chartData" [options]="chartOptions"
                [chartType]="widgetHelper.getWidgetConfig().chart.type">
            </canvas>
        </ng-template>



    </ng-container>
    <ng-template #waiting>
        <h1>loading...</h1>
    </ng-template>
</div>
<ng-template #message>
    <h4>Please choose at least one device, and measurment and a graph type to see a chart display</h4>
</ng-template>